*.csproj
*.unityproj
#*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb

# XGC Add
.vs
.vsconfig
Export
Library
Logs
obj
Temp
Assets/StreamingAssets/build_info
Assets/StreamingAssets/build_info.meta
Assets/StreamingAssets/build_info.txt
Assets/StreamingAssets/build_info.txt.meta
Assets/XLua/Gen
Assets/Store